.glyphicon-picture {
  font-size: 50px;
}


.glyphicon-edit {
  font-size: 25px;
}

.glyphicon-trash {
  font-size: 25px;
  color:red
}


.user-edit-image .glyphicon{
  font-size: 320px;
}

.user-profile-image .glyphicon{
  font-size: 260px;
}

.user-item-image .glyphicon {
  font-size: 70px;
}

.post-image  .glyphicon-picture{
  font-size: 200px;
}

.other-user-image glyphicon-picture {
  font-size: 70px;
}



.navbar-user-image img{
  width: 40px;
  height: 40px;
  margin: 5px;
}


.user-edit-image img{
  width: 320px;
}

.user-profile-image img{
  width: 260px;
}


/* ---------------- */


.dojo-item {
  border: 1px solid #6495DD;
  height: 400px;
  margin-bottom: 15px;
}


.dojo-user-item{
  border-right: 1px solid #6495DD;
  width: 165px;
  height: 400px;
}

.user-item-image {
  float: left;
  width: 140px;
  height: 140px;
  padding-bottom: 25px;
  margin:35px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 60px;
}

.user-item-image  img{
  width: 140px;
  height: 140px;
}

.post-image  img{
  height: 200px;
}




.caption {
  margin-top: 15px;
  margin-left: 15px;
}

/* ---------------- */

.dojo-comment-item {
  border: 1px solid #6495DD;
  height: 300px;
  margin-bottom: 15px;
}


.comment-user-item {
  border-right: 1px solid #6495DD;
  width: 165px;
  height: 300px;
}

.comment-caption {
  margin-top: 15px;
  margin-left: 15px;
}

/* ---------------- */

.user-comment-block {
  border: 1px solid #A9A9A9;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 10px;
}


/* ===== 表格 ===== */



.my-table td:last-child {
    width: 200px;
    vertical-align: middle;
}

.borderless td, .borderless th {
  border-top: none !important;
}
