.glyphicon-picture {
  font-size: 50px;
}



.user-edit-image .glyphicon{
  font-size: 320px;
}

.user-profile-image .glyphicon{
  font-size: 260px;
}

.user-item-image .glyphicon {
  font-size: 70px;
}

.other-user-image glyphicon-picture {
  font-size: 70px;
}

.navbar-user-image img{
  width: 40px;
  height: 40px;
  margin: 5px;
}


.user-edit-image img{
  width: 320px;
}

.user-profile-image img{
  width: 260px;
}


/* ---------------- */


.dojo-item {
  border: 1px solid #6495DD;
  height: 300px;
  margin-bottom: 15px;
}


.dojo-user-avatar {
  border-right: 1px solid #6495DD;
  width: 165px;
  height: 300px;
}

.dojo-user-image {
  float: left;
  width: 75px;
  height: 75px;
  margin: 15px;
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 60px;
}

.post-image  img{
  height: 120px;
}


.dojo-user-image  img{
  width: 70px;
  height: 70px;
}

.caption {
  margin-top: 15px;
  margin-left: 15px;
}

/* ---------------- */

.dojo-comment-item {
  border: 1px solid #6495DD;
  height: 200px;
  margin-bottom: 15px;
}


.comment-user-avatar {
  border-right: 1px solid #6495DD;
  width: 165px;
  height: 200px;
}

.comment-caption {
  margin-top: 15px;
  margin-left: 15px;
}