.glyphicon-picture {
  font-size: 50px;
}



.user-edit-image .glyphicon{
  font-size: 320px;
}

.user-profile-image .glyphicon{
  font-size: 260px;
}

.user-item-image .glyphicon {
  font-size: 70px;
}

.other-user-image glyphicon-picture {
  font-size: 70px;
}

.navbar-user-image img{
  width: 40px;
  height: 40px;
  margin: 5px;
}


.user-edit-image img{
  width: 320px;
}

.user-profile-image img{
  width: 260px;
}